@import "../../App.scss";

.dashboard-container{
overflow-y:scroll;
height: 100vh;
h1{
  font-weight: 300;
  color: $purple;
}
.dashboard-heading{
  margin-top: 2%;
}
.searchdiv{
  margin:2% 25%;
}

}

.parentofcards{
  margin: 2%;
  .cardhead{
    margin:2%;
    background: linear-gradient(to bottom right, $extraLightPink, $lightPink, $pink);
    border-radius: 5px;
    padding:1% 2%;
    h2{
      color: $purple;
      font-weight: 700;
    }
    .subs{
      font-weight: bold;
      color: $purple;
    }
    .chipdiv{
      margin-bottom: 3%;
      .private{
        background-color:#00d819;
        color: white;
        padding:1% 3%;
        border-radius: 5px;
        margin-right: 3%;
      }
      
    }
    .start{
      color: #009211;
    }
    .end{
      color:#b60000;
    }
    .cardbuttondiv{
      margin-top: 5%;
      margin-bottom: 2%;
      .cardbutton{
        padding:1.5% 5%;
      }
    }
    transition: .2s;
  }
  .cardhead:hover{
    cursor: pointer;
    background: #ebd9ff;
    transform: scale(1.05);
  }
 
}
.status-red{
  background-color:#ff5e5e;
  color: white;
  padding:1% 3%;
  border-radius: 5px;
}
.status-active{
  background-color:#00d819;
  color: white;
  padding:1% 3%;
  border-radius: 5px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .iconbutton{
    display: none;
  }
  @media (max-width: 992px) {

  }
  @media (max-width: 768px) {
  
  
  }
  @media (max-width: 576px) {
    .dashboard-heading{
      margin-top: 2%;
      margin-bottom: 8%;
    }
    
    .iconbutton{
      display:inline-block;
    }
    .parentofcards{
      .cardhead{
        padding:7%; 
      }
    }
  }