@import "../../App.scss";

.eventdetail{
    background-color: #f7f7f7;
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.2em;
        font-weight: 400;
    }
    .eventDetaildiv{
        margin:2% 10%;
        background-color: white;
        padding:2% 5%;
        border-radius: 10px;
    }
    .row{
        margin-top: 3%;
    }
    .status-div{
        margin-top: 2%;
        .status-active{
            margin-right: 3%;
            padding:.5% 2%;
        }
        .status-red{
            padding:.5% 2%;
        }
    }
    .timediv{
        margin:3% 0;
        p{
            background-color: $white;
            padding:2%;
            margin:auto;
            border-radius: 5px;
        }
    }
    .detailbutton{
        padding:.5% 5%;
        margin:2%;
    }
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {


}
@media (max-width: 576px) {
 .eventdetail{
     .timediv{
         margin:5% 0;
         p{
             margin:3% 0;
         }
     }
 }
}